<div class="new-blog-container">
  <h3>Create New Blog</h3>
  <div>
    <div class="form-group">
      <label>Title: </label>
      <input placeholder="Title" type="text" name="title" ngModel #titleInput="ngModel" required/>
      <!-- <div [hidden]="titleInput.valid || titleInput.pristine">
        Title is required.
      </div> -->
    </div>

    <!-- <div class="form-group">
      <label>Content: </label>
      <textarea id="editor" placeholder="Blog Content" type="textarea" name="content" ngModel #contentInput="ngModel"></textarea>
    </div> -->
    <label>Content: </label>
    <div id="summernote">
      Hello Summernote!
    </div>

    <button type="submit">Submit</button>
  </div>
</div>
