@import "app.variables";

:host {
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  align-content: center;
  // padding: 10px;
  flex-direction: column;
  color: $text-color;
  background: rgba(0,0,0,0.05);

  .nav {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 10px 4px 10px;
    // background: $primary;
    color: $secondary;
    position: relative;
    a {
      margin: 0 5px;
      padding: 5px 10px;
      color: $secondary-dark;
      transition: all 0.2s ease-in-out;
      &.active {
        // background: $secondary;
        // color: $primary;
        color: $secondary;
        box-shadow: 0 4px $secondary;
      }
      &:hover {
        color: $secondary;
        text-decoration: none;
        cursor: pointer;
      }
      &:focus, &:active {
        text-decoration: none;
      }
    }


  }

  .main-container {
    background: white;
    flex: 1 0 auto;
    width: 800px;
    // box-shadow: 0 0 16px rgba(0,0,0,0.2), 0 0 32px rgba(0,0,0,0.15), 0 0 128px rgba(0,0,0,0.1);

    .main-content {
      height: 100%;
      position: relative;
      padding: 20px;
      box-sizing: border-box;


    }
  }
}

:host .banner-container {
  @include header-banner;
  .title {
    padding: 20px 0 0 0;
  }
}

:host admin-toolbar {
  // padding: 0 10px;
  flex: 0 0 auto;
  align-self: stretch;
}
