@import "app.variables";

:host {
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  align-content: center;
  // padding: 10px;
  flex-direction: column;
  color: $text-color;
  background: rgba(0,0,0,0.05);

  .nav {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    background: $primary;
    color: $secondary;
    position: relative;
    a {
      margin: 0 5px;
      padding: 0 5px;
      color: $secondary;
      &.active {
        background: $primary;
      }
    }


  }

  .main-container {
    background: white;
    flex: 1 0 auto;
    width: 800px;
    // box-shadow: 0 0 16px rgba(0,0,0,0.2), 0 0 32px rgba(0,0,0,0.15), 0 0 128px rgba(0,0,0,0.1);

    .main-content {
      height: 100%;
      position: relative;
      padding: 20px;
      box-sizing: border-box;


    }
  }
}

:host .banner-container {
  position: relative;
  background: $primary;
  margin: 0 -10px;
  padding: 0 10px;
  &::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    border-right: 10px solid darken($primary,50);
    border-bottom: 10px solid transparent;
  }

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 100%;
    border-left: 10px solid darken($primary,50);
    border-bottom: 10px solid transparent;
  }
}


:host .title {
  // margin: 0 -1000px 0 -1000px;
  // padding: 30px 10px 15px 10px;
  // padding: 10px;
  // padding: 20px 1000px 0 1000px;
  padding: 20px 0 0 0;
  background: $primary;
  position: relative;
  h1 {
    margin: 0;
    display: inline-block;
    color: $secondary;
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: -6px;
    font-family: sans-serif;
    font-weight: 100;
  }
  h2 {
    margin: 0;
    display: inline-block;
    margin-left: 10px;
    font-size: 36px;
    letter-spacing: 6px;
    color: $text-accent;
    font-weight: 100;
  }

}

:host admin-toolbar {
  // padding: 0 10px;
  flex: 0 0 auto;
  align-self: stretch;
}
